<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Criadores</title>
</head>
<body>
	<div layout:fragment="body">

		<br><br><br><br>
		
		<img class="img-index-1" src="../resources/assets/img/logo/VL sem fundo com nome2.png" alt="">

            
            
            <h1>CRIADORES</h1>

            <h4>Projeto criado para a FAITEC 2021</h4>

            <section class="tabela-criadores">

                <div class="tabela-criadores-conteudo">
                    <img class="card-img-top img-criadores" src="../resources/assets/img/criadores/lucas.jfif"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="nome-criador">Lucas Lima</p>
                        <a href="https://github.com/LucasLima147" class="btn btn-primary btn-lg"> GitHub <i class="fab fa-github fa-lg"></i></a>
                    </div>
                    </a>
                </div>

                <div class="tabela-criadores-conteudo">
                    <img class="card-img-top img-criadores" src="../resources/assets/img/criadores/victor.jfif"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="nome-criador">Victor Andrade</p>
                        <a href="https://github.com/Victor-M-Andrade" class="btn btn-primary btn-lg"> GitHub <i class="fab fa-github fa-lg"></i></a>
                    </div>
                    </a>
                </div>

                <div class="tabela-criadores-conteudo">
                    <img class="card-img-top img-criadores" src="../resources/assets/img/criadores/will.jfif"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="nome-criador">William de Paula</p>
                        <a href="https://github.com/wprs18" class="btn btn-primary btn-lg"> GitHub <i class="fab fa-github fa-lg"></i></a>
                    </div>
                    </a>
                </div>

            </section>

            <h3>Projeto desenvolvido em:</h3>
            <p align="center">
                <img src="../resources/assets/img/logo/logo-ferramentas/html.png" alt="" width="90px">
                <img src="../resources/assets/img/logo/logo-ferramentas/css.png" alt="" width="100px">
                <img src="../resources/assets/img/logo/logo-ferramentas/js.png" alt="" width="95px">
                <img src="../resources/assets/img/logo/logo-ferramentas/bootstrap.png" alt="" width="110px">
                <img src="../resources/assets/img/logo/logo-ferramentas/postgresql.png" alt="" width="90px">
                <img src="../resources/assets/img/logo/logo-ferramentas/spring.png" alt="" width="80px">
                <img src="../resources/assets/img/logo/logo-ferramentas/sql.png" alt="" width="80px">
            </p>

            <!-- <img class="img-criadores" src="resources/assets/img/logo/VL com fundo sem nome2.png" alt=""> -->

        </div>

           

	</div>
</body>
</html>