<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Editar Perfil</title>
</head>
<body>
	<div layout:fragment="body">


		<br> <br> <br>


		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Editar Perfil</h1>


				<div class="row">

					<div class="mb-2 col-12 col-sm-3">
						<div class="card">
							<div class="card-body">
								<div class="mb-3 text-center">
									<img
										src="../../resources/assets/img/logo/VL com fundo sem nome2.png"
										width="200" class="rounded-circle img-fluid" />
								</div>
								<div class="mb-2">
									<div class="col-sm-12">Trocar</div>
									<hr>
									<div class="custom-file">
										<input type="file" class="custom-file-input"
											id="imagemPrincipal"> <label
											class="custom-file-label" for="imagemPrincipal"></label>
									</div>

								</div>
							</div>
						</div>
					</div>

					<form  th:action="@{${url}}"  method="POST" class="mb-2 col-12 col-sm-9" th:object="${user}" >

						<div class="mb-2 card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-3">Nome</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.nome}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Email</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${user.email}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Telefone</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.telefone}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Rua</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.rua}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Número</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.numero}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Bairro</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.bairro}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Cidade</div>
									<div class="col-sm-9">
										<input type="text" class="form-control"
											th:field="${user.cidade}">
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">Estado</div>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:field="${user.estado}" placeholder="Sigla: MG, SP, etc...">
									</div>
								</div>
							</div>
						</div>

						<div class="form-group mt-4 mb-0">
							<input th:field="${user.id}" type="hidden" />
							<input th:field="${user.senha}" type="hidden">
							<input th:field="${user.pessoaId}" type="hidden" />
							<button class="btn btn-primary btn-block" type="submit">Atualizar dados do Usuario</button>
						</div>

					</form>



				</div>



			</div>
		</main>




	</div>
</body>
</html>