<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8">
	<title>Lista de Usuários</title>
</head>

<body>
	<div layout:fragment="body">

		<br><br><br>
		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Lista de Usuários</h1>

				<div class="row">



					<div class="mb-2 col-12 col-sm-12">

						<div class="mb-2 card">
							<div class="card-body">


								<div class="table-responsive">

									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


										<div class="row col-12">
											<div class="col-12">
												<a th:href="@{/bibliotecario/register}" class="btn btn-info col-12"><i
														class="fas fa-address-book"></i> CADASTRAR NOVO
													BIBLIOTECARIO(A)</a>
											</div>
										</div>

										<br>

										<thead>
											<tr>
												<th>Nome</th>
												<th>CPF</th>
												<th>Telefone</th>
												<th>Email</th>
												<th>ações
												<th>
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Nome</th>
												<th>CPF</th>
												<th>Telefone</th>
												<th>Email</th>
												<th>ações
												<th>
											</tr>
										</tfoot>


										<tbody>
											<tr th:each="leitor : ${listaDeLeitores}">
												<td th:text="${leitor.nome}">Victor</td>
												<td th:text="${leitor.cpf}">123.123.123-12</td>
												<td th:text="${leitor.telefone}">(00)00000-0000</td>
												<td th:text="${leitor.email}">teste@email.com</td>
												<td>
													<div class="row col-12">
														<div class="col-4">
															<a th:href="@{/leitor/detail/{id} (id = ${leitor.id})}"
																class="btn btn-info col-9">
																<i class="fas fa-id-card"></i>
															</a>
														</div>
														<div class="col-4">
															<a th:href="@{/leitor/edit/{id} (id = ${leitor.id})}"
																class="btn btn-warning col-9">
																<i class="fas fa-edit"></i>
															</a>
														</div>
														<div class="col-4">
															<a th:href="@{/leitor/delete/{id} (id = ${leitor.id})}"
																class="btn btn-danger col-9"> <i
																	class="fas fa-times"></i>
															</a>
														</div>
													</div>
												</td>
											</tr>
										</tbody>


										<tbody>
											<tr th:each="bibliotecario : ${listaDeBibliotecarios}">
												<td th:text="${bibliotecario.nome}">Victor</td>
												<td th:text="${bibliotecario.cpf}">123.123.123-12</td>
												<td th:text="${bibliotecario.telefone}">(00)00000-0000</td>
												<td th:text="${bibliotecario.email}">teste@email.com</td>
												<td>
													<div class="row col-12">
														<div class="col-4">
															<a th:href="@{/bibliotecario/detail/{id} (id = ${bibliotecario.id})}"
																class="btn btn-info col-9">
																<i class="fas fa-id-card"></i>
															</a>
														</div>
														<div class="col-4">
															<a th:href="@{/bibliotecario/edit/{id} (id = ${bibliotecario.id})}"
																class="btn btn-warning col-9">
																<i class="fas fa-edit"></i>
															</a>
														</div>
														<div class="col-4">
															<a th:href="@{/bibliotecario/delete/{id} (id = ${bibliotecario.id})}"
																class="btn btn-danger col-9"> <i
																	class="fas fa-times"></i>
															</a>
														</div>
													</div>
								</div>
								</td>
								</tr>
								</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
	</div>
	</main>

	<br> <br>

	</div>
</body>

</html>