<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Notificações</title>
</head>
<body>
    <div layout:fragment="body">




        <br> <br> <br>

        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Notificações</h1>

                <div class="row">

                    <div class="mb-2 col-12 col-sm-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-3 text-center">
                                    <img
                                        src="../resources/assets/img/logo/VL com fundo sem nome2.png"
                                        width="200" class="rounded-circle img-fluid" />
                                </div>
                                <div class="mb-2">
                                    <p class="text-primary text-center">Zézinho</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2 col-12 col-sm-7">

                        <div class="mb-2 card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12 font-weight-bold">Informações
                                        refente ao seu último emprestimo</div>
                                </div>
                                <hr>
                                <div class="row">
	                                	<div>
		                                    <div class="col-sm-12">Código de registro do empréstimo</div>
		                                    <div class="col-sm-12 font-weight-bold" th:text="${lastLoan.codigo}">1234s</div>
										</div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Caso queira que seu emprestimo seja entregue clique em <strong>SOLICITAR
                                            ENTREGA</strong>
                                    </div>
                                    <div class="col-sm-12">
                                        Se já estiver com o livro e deseja que seja recolhido, clique
                                        em <strong>SOLICITAR DEVOLUÇÃO</strong>
                                    </div>
                                    <br> <br>
                                    <div class="col-sm-12 font-italic">**OBS: A sua
                                        solicitação poderá ser aceita ou não pelo Administrador</div>
                                    <br> <br>
                                    <div class="row col-12">
                                        <div class="col-6">
                                            <a href="#" class="btn btn-success col-12"><i
                                                class="fas fa-motorcycle fa-lg"></i> SOLICITAR ENTREGA</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="#" class="btn btn-info col-12"><i
                                                class="fas fa-motorcycle fa-lg"></i> SOLICITAR DEVOLUÇÃO</a>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row col-12">
                                        <div class="col-6">
                                            <input type="text" class="form-control" readonly placeholder="Status da solicitação">
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="form-control" readonlyd placeholder="Status da solicitação">
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row col-12">
                                        <div class="col-6">
                                            <a href="#" class="btn btn-danger col-12 font-weight-bold" >Já recebi este empréstimo</a>
                                        </div>
                                        <div class="col-6">
                                            <a href="#" class="btn btn-danger col-12 font-weight-bold">Empréstimo já devolvido</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>



            </div>
        </main>


    </div>
</body>
