<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Notificações</title>
</head>
<body>
	<div layout:fragment="body">




		<br>
		<br>
		<br>

		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Notificações</h1>

				<div class="row">

					<div class="mb-2 col-12 col-sm-5">
						<div class="card">
							<div class="card-body">
								<div class="mb-3 text-center">
									<img
										src="../resources/assets/img/logo/VL com fundo sem nome2.png"
										width="200" class="rounded-circle img-fluid" />
								</div>
								<div class="mb-2">
									<p class="text-primary text-center">Zézinho</p>
								</div>
							</div>
						</div>
					</div>

					<div class="mb-2 col-12 col-sm-7">

						<div class="mb-2 card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-12 font-weight-bold">Informações refente ao seu último emprestimo</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">Segue informações do seu último
										pedido</div>
									<div class="col-sm-12">Livro: O Senhor do Áneis</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">Seu pedido foi aceito por um
										administrador</div>
									<div class="col-sm-12">Seu livro deve chegar em breve</div>
									<br>
									<br>
									<div class="col-sm-12">
										<div class="progress">
											<div
												class="progress-bar progress-bar-striped bg-info progress-bar-animated"
												role="progressbar" aria-valuenow="75" aria-valuemin="0"
												aria-valuemax="100" style="width: 75%"></div>
										</div>
									</div>

								</div>

							</div>
						</div>

						<div class="mb-2">
							<a href="#" class="btn btn-info col-12">Já recebi esse
								produto</a>
						</div>

					</div>



				</div>



			</div>
		</main>


	</div>
</body>
</html>