<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Notificações</title>
</head>
<body>
	<div layout:fragment="body">




		<br> <br> <br>

		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Notificações</h1>

				<div class="row">

					<div class="mb-2 col-12 col-sm-5">
						<div class="mb-2 card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">MEUS EMPRÉSTIMOS</div>
                                            
                                        </div>
                                        <hr>
                                		<div class="alert alert-danger col-sm-12"
										th:if="${lastLoan.codigo == 0}">
										<span class="font-weight-bold align-middle">Não há registros de empréstimos</span>
									</div>
                                
                                        <div class="table-responsive">
                                
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Cód. Empréstimo</th>
                                                        <th>Funções</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Cód. Empréstimo</th>
                                                        <th>Funções</th>
                                                    </tr>
                                                </tfoot>


                                                <tbody>
                                                    <tr th:each="emprestimo : ${listaDeEmprestimo}">
                                                        <td th:text="${emprestimo.id}">108 (codigo do livro)</td>
                                                        <td th:text="${emprestimo.codigo}">nome do livro</td>
                                                        <td> minha functions</td>
                                                    </tr>
                                
                                                </tbody>

                                            </table>
                                
                                        </div>
                                        
                                
                                
                                    </div>
                                </div>
					</div>

					<div class="mb-2 col-12 col-sm-7">

						<div class="mb-2 card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-12 font-weight-bold">Informações
										refente ao seu último emprestimo</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">Código de registro do empréstimo</div>
									<div class="col-sm-12 font-weight-bold"
										th:text="${lastLoan.codigo}">1234s</div>
									<div class="alert alert-danger col-sm-12"
										th:if="${lastLoan.codigo == 0}">
										<span class="font-weight-bold align-middle">Você não
											tem nenhum empréstimo recente</span>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-12">
										Caso queira que seu emprestimo seja entregue clique em <strong>SOLICITAR
											ENTREGA</strong>
									</div>
									<div class="col-sm-12">
										Se já estiver com o livro e deseja que seja recolhido, clique
										em <strong>SOLICITAR DEVOLUÇÃO</strong>
									</div>
									<br> <br>
									<div class="col-sm-12 font-italic">**OBS: A sua
										solicitação poderá ser aceita ou não pelo Administrador</div>
									<br> <br>
									<div class="row col-12">
										<div class="col-6">
											<a
												th:href="@{/entrega/solicitar-entrega/{idEmprestimo} (idEmprestimo = ${lastLoan.id})}"
												class="btn btn-success col-12"><i
												class="fas fa-motorcycle fa-lg"></i> SOLICITAR ENTREGA</a>
										</div>
										<div class="col-6">
											<a
												th:href="@{/recolhimento/solicitar-recolhimento/{idEmprestimo} (idEmprestimo = ${lastLoan.id})}"
												class="btn btn-info col-12"><i
												class="fas fa-motorcycle fa-lg"></i> SOLICITAR DEVOLUÇÃO</a>
										</div>
									</div>
									<br> <br>
									<div class="row col-12">
										<div class="col-6">
											<label type="text" class="form-control"
												th:text="${situacaoEntrega}" readonly></label>
										</div>
										<div class="col-6">
											<label type="text" class="form-control"
												th:text="${situacaoRecolhimento}" readonly></label>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>



				</div>



			</div>
		</main>


	</div>
</body>