<!DOCTYPE html>
<html layout:decorate="~{login-layout}">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<div layout:fragment="body">


		<br>
		<br>
		<br>
		<main>
			<div class="container login">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="card border-0 rounded-lg mt-5">
							<div class="card-header">
								<img class="logo"
									src="../resources/assets/img/logo/VL fundo roxo2.png" alt="">
							</div>
							<div class="card-body">
								<form>
									<div class="form-group">
										<label class="small mb-1" for="inputEmailAddress">Email</label><input
											class="form-control py-4" id="inputEmailAddress" type="email"
											placeholder="Insira o endereço de email" />
									</div>
									<div class="form-group">
										<label class="small mb-1" for="inputPassword">Senha</label><input
											class="form-control py-4" id="inputPassword" type="password"
											placeholder="Insira a senha" />
									</div>
									<div class="form-group">
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input"
												id="rememberPasswordCheck" type="checkbox" /><label
												class="custom-control-label" for="rememberPasswordCheck">Lembre-me</label>
										</div>
									</div>
									<div
										class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
										<a class="small" th:href="@{/conta/recover-password}">Esqueceu a senha?</a><a
											class="btn btn-primary" th:href="@{/livro/list}">Login</a>
									</div>
								</form>
							</div>
							<div class="card-footer text-center">
								<div class="small">
									<a th:href="@{/conta/register}">Precisa de uma conta? Cadastre-se!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</body>
</html>