<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Library</title>

    <script src="../resources/js/jquery/jquery-3.4.1.min.js"></script>

    <link rel="shortcut icon" href="../resources/assets/img/logo/VL com fundo sem nome2.png">
    <link href="../resources/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../resources/css/livro.css">
    <link href="../resources/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="../resources/js/font-awesome/all.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="sb-nav-fixed">

    <!-- ------------- -->

    <body class="sb-nav-fixed">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">

                <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                    <img class="logo" src="../resources/assets/img/logo/VL sem fundo sem nome2.png" alt="">
                    <div class="collapse navbar-collapse" id="navbar">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="../index.html" class="nav-link">HOME</a>
                            </li>

                            <li class="nav-item active">
                                <a href="../general/criadores.html" class="nav-link">CRIADORES</a>
                            </li>

                            <li class="nav-item ">
                                <a href="../livro/acervo.html" class="nav-link">ACERVO</a>
                            </li>

                        </ul>
                    </div>


                    <!-- Navbar Search-->
                    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Procurar por..." />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Navbar-->
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user fa-fw"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="../usuario/perfil-usuario.html">Perfil</a>
                            <a class="dropdown-item" href="../usuario/editar-perfil.html">Editar Perfil</a>
                            <a class="dropdown-item" href="../usuario/notificacao.html">Notificação <span
                                    class="badge  badge-pill badge-danger">1</span></a>
                            <a class="dropdown-item" href="../index.html">Sair</a>
                        </div>
                    </div>



                </nav>

            </div>

            <br><br><br><br><br>

            
<main>
                <div class="container-fluid">
                    <h1 class="mt-4">O Senhor dos Anéis</h1>

                    <img class="img-livro-descricao" src="../resources/assets/img/capa-livros/senhor-dos-aneis.png" alt="">

                    <div class="row mt-4">

                        <div class="col-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#description-tab" role="tab">Descrição</a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-12">
                            <div class="tab-content">

                                <div class="mt-2 tab-pane fade show active" id="description-tab">
                                    <p class="p-descricao">
                                        O Senhor dos Anéis (The Lord of the Rings, no original) é um livro de alta fantasia, escrito pelo escritor britânico J.
                                        R. R. Tolkien. Escrita entre 1937 e 1949, com muitas partes criadas durante a Segunda Guerra Mundial, a saga é uma
                                        continuação de O Hobbit (1937). Embora Tolkien tenha planejado realizá-la em volume único, a obra foi originalmente
                                        publicada em três volumes (The Fellowship of the Ring, The Two Towers e The Return of the King) entre 1954 e 1955, com
                                        cada volume contendo dois livros cada, e foi assim, em três volumes, que se tornou popular. Desde então, a obra foi
                                        reimpressa várias vezes e traduzida para mais de 40 línguas, vendendo mais 160 milhões de cópias, tornando-se um dos
                                        trabalhos mais populares da literatura do século XX.
                                    </p>

                                    <p class="p-descricao">
                                        A história de O Senhor dos Anéis ocorre num tempo e espaço imaginário, a Terceira Era da Terra Média, que é um mundo
                                        inspirado na Terra real, mais especificamente, segundo Tolkien, numa Europa mitológica, habitado por Humanos e por
                                        outras raças: Elfos, Anãos (anteriormente "Anões"), Hobbits e Orques (anteriormente "Orcs"). Tolkien nomeou esse lugar
                                        com uma palavra do inglês moderno, Middle-earth (Terra-Média), derivado do inglês antigo, Middangeard, o reino onde
                                        humanos vivem na mitologia Nórdica e Germânica. O próprio Tolkien disse que pretendia ambientá-la na nossa Terra, há
                                        aproximadamente 6 000 anos, embora a correspondência com a geografia e a história do mundo real fosse frágil.
                                    </p>

                                    <p class="p-descricao">
                                        A história narra o conflito contra o mal que se alastra pela Terra-média, através da luta de várias raças - Humanos,
                                        Anãos, Elfos, Ents e Hobbits - contra Orques, para evitar que o "Anel do Poder" volte às mãos de seu criador Sauron, o
                                        Senhor Sombrio. Partindo dos primórdios tranquilos do Condado, a história muda através da Terra-média e segue o curso da
                                        Guerra do Anel através dos olhos de seus personagens, especialmente do protagonista, Frodo Bolseiro. A história
                                        principal é seguida por seis apêndices que fornecem uma riqueza do material de fundo histórico e linguístico.
                                    </p>
                                </div>

                            </div>
                            
                        </div>

                    </div>

                    <a href="livro-escolhido.html" class="btn btn-primary btn-descricao-livro btn-lg">Pegar Emprestado</a>
                    <br>
                    <br>

                </div>
            </main>




            <div id="layoutAuthentication_footer">
                <footer class="py-4 mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div>Copyright &copy; Virtual Library - 2021</div>
                            <div>
                                <a href="#">Política de privacidade</a>
                                &middot;
                                <a href="#">Termos &amp; Condições</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="../resources/js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../resources/js/scripts.js"></script>
    </body>