<!DOCTYPE html>
<html layout:decorate="~{login-layout}">
<head>
<meta charset="UTF-8">
<title>Editar Editora</title>
</head>
<body>
	<div layout:fragment="body">

		<br> <br> <br>

		<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="card border-0 rounded-lg mt-5">
							<div class="card-header">
								<img class="logo"
									src="../resources/assets/img/logo/VL fundo roxo2.png" alt="">
							</div>
							<div class="card-body">
								<form th:action="@{/editora/update}" method="POST" th:object="${editaEditora}">
									<div class="form-row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="small mb-1" for="razaoSocial">Nome
													Fantasia</label> <input type="text" class="form-control py-4"
													id="razaoSocial" th:name="nomeFantasia"
													th:field="${editaEditora.nomeFastasia}" />
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="small mb-1" for="razaoSocial">Razão
													Social</label> <input type="text" class="form-control py-4"
													id="razaoSocial" th:name="razaoSocial"
													th:field="${editaEditora.razaoSocial}" />
											</div>
										</div>
									</div>
									
									<div class="form-row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="small mb-1" for="razaoSocial">Email</label> 
												<input type="text" class="form-control py-4"
													id="razaoSocial" th:name="email"
													th:field="${editaEditora.email}" />
											</div>
										</div>
									</div>
									
									<div class="form-group mt-4 mb-0">
										<input th:field="${editaEditora.id}" type="hidden"/>
										<button class="btn btn-primary btn-block"
											type="submit" >Atualizar Editora</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</main>

		<br> <br> <br>



	</div>
</body>
</html>