<!DOCTYPE html>
<html layout:decorate="~{login-layout}">
<head>
<meta charset="UTF-8">
<title>Editar Editora</title>
</head>
<body>
	<div layout:fragment="body">

		<br>
		<br>
		<br>

		<main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="card border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <img class="logo" src="../resources/assets/img/logo/VL fundo roxo2.png" alt="">
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-md-8">
                                                <div class="form-group"><label class="small mb-1"
                                                        for="inputEditoraRazaoSocial">Razão Social</label><input
                                                        class="form-control py-4" id="inputEditoraRazaoSocial"
                                                        type="text" value="EDITORA ABRIL S.A" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group"><label class="small mb-1"
                                                        for="inputEditoraFantasia">Nome Fantasia</label><input
                                                        class="form-control py-4" id="inputEditoraFantasia" type="text"
                                                        value="Abril" /></div>
                                            </div>
                                        </div>


                                        <div class="form-row">
                                            <div class="col-md-4">
                                                <div class="form-group"><label class="small mb-1"
                                                        for="inputCnpj">CNPJ</label><input class="form-control py-4"
                                                        id="inputCnpj" type="text" value="02.183.757/0001-93" />
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group"><label class="small mb-1"
                                                        for="inputEmail">Email</label><input class="form-control py-4"
                                                        id="inputEmail" type="text"
                                                        value="vendas_abril@abril.com.br" /></div>
                                            </div>
                                        </div>



                                        <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block"
                                                th:href="@{/editora/list}">Atualizar Editora</a></div>

                                </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </main>
		
		<br>
		<br>
		<br>



	</div>
</body>
</html>