#sectionGeralLogin{
    text-align: center;
}


#section_login{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.74);
}

#logoInicio{
    width: 100px;
    margin-top: 50px;
    margin-bottom: 25px;
}
#teste{
    font-size: 100px;
}