<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Acervo</title>
</head>
<body>
	<div layout:fragment="body">

		

            <br><br><br><br><br>

            <h1>Livros em Destaque</h1>
           

            <!-- Livros -->
            <section class="menu-livro">

                <!-- 
                Extra small     < 576   .col-
                Small           >= 576  .col-sm-
                Medium          >= 768  .col-md-
                Large           >= 992  .col-lg-
                Extra large     >=1200  .col-xl-
            -->

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro"
                            src="../resources/assets/img/capa-livros/senhor-dos-aneis.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">O SENHOR DOS ANÉIS</p>
                        </div>
                    </a>
                </div>

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro"
                            src="../resources/assets/img/capa-livros/a-arte-da-guerra.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">A ARTE DA GUERRA</p>
                        </div>
                    </a>
                </div>


                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro" src="../resources/assets/img/capa-livros/coraline.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">CORALINE</p>
                        </div>
                    </a>
                </div>

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro" src="../resources/assets/img/capa-livros/harry-potter.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">HARRY POTTER</p>
                        </div>
                    </a>
                </div>

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro" src="../resources/assets/img/capa-livros/hobbit.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">O HOBBIT</p>
                        </div>
                    </a>
                </div>

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro" src="../resources/assets/img/capa-livros/it.png"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">IT A COISA</p>
                        </div>
                    </a>
                </div>

                <div class="card livro">
                    <a th:href="@{/livro/detail}">
                        <img class="card-img-top img-livro"
                            src="../resources/assets/img/capa-livros/o-gigante-feliz.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text nome-livro">O GIGANTE FELIZ</p>
                        </div>
                    </a>
                </div>

                
            </section>

	</div>
</body>
</html>