<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Adicionar Livro</title>
</head>
<body>
	<div layout:fragment="body">



		<br>
		<br>
		<br>
		

		<main>
			<div class="container-fluid">
				<h1 class="mt-4">Adicionar Livro</h1>

				<form action="@{/livro/create}" method="POST">
					<div class="row">
	
						<div class="mb-2 col-12">
	
							<div class="mb-2 card">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-3">
											<label for="titulo">Titulo</label>
										</div>
										<div class="col-sm-9">
											<input id="titulo" type="text" class="form-control">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="autor">Autor</label>
										</div>
										<div class="col-sm-9">
											<select class="form-control" id="autor">
												<option selected value="-1">Selecione...</option>
												<option th:each="autor: ${autorList}" th:text="${autor.nome}" 
												th:value="${autor.id}">Genero 1</option>
											</select>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="genero">Gênero</label>
										</div>
										<div class="col-sm-9" >
	
											<select class="form-control" id="genero">
												<option selected value="-1">Selecione...</option>
												<option th:each="genero: ${generoList}" th:text="${genero.nome}"
												th:value="${genero.id}">Genero 1</option>
											</select>
	
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="editora">Editora</label>
										</div>
										<div class="col-sm-9">
										
											<select class="form-control" id="editora">
												<option selected value="-1">Selecione...</option>
												<option th:each="editora: ${editoraList}" th:text="${editora.nomeFastasia}"
												th:value="${editora.id}">Genero 1</option>
											</select>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="isbn">ISBN</label>
										</div>
										<div class="col-sm-9">
											<input type="text" id="isbn" class="form-control">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="dataLancamento">Numero de Páginas</label>
										</div>
										<div class="col-sm-9">
											<input type="number" class="form-control">
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="descricao">Descrição</label>
										</div>
										<div class="col-sm-9">
											<textarea class="form-control" rows="3"></textarea>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<label for="imagemPrincipal">Capa do livro</label>
										</div>
										<div class="col-sm-9">
											<div class="custom-file">
												<input type="file" class="custom-file-input"
													id="imagemPrincipal"> <label
													class="custom-file-label" for="imagemPrincipal">Escolha
													a imagem</label>
											</div>
										</div>
									</div>
									<hr>
									<p class="p-criar">
										<strong>OBS: O tamanho da imagem deve ser 350px por
											450px</strong>
									</p>
								</div>
							</div>
	
							<div class="mb-2">
								<button th:href="@{/livro/list-adm}" class="btn btn-primary col-12 btn-lg" type="submit"><strong>ADICIONAR</strong></button>
							</div>
	
						</div>
					</form>
				</div>


			</div>
		</main>



<br>



	</div>
</body>
</html>