<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Descrição</title>
</head>
<body>
	<div layout:fragment="body">

		

            <br><br>

            
<main>
                <div class="container-fluid">
                	
                	<img class="img-livro-descricao" src="../../resources/assets/img/capa-livros/senhor-dos-aneis.png" alt="">
                    <h1 class="mt-4" th:text="${detalheDoLivro.titulo}">O Senhor dos Anéis</h1>
				<div class="alert alert-danger mt-4" th:if="${error}">
					<span class="font-weight-bold">Desculpe! mas
						não há exemplares disponíveis deste livro para empréstimo</span>
				</div>


				<div class="row mt-4">

                        <div class="col-12">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                        href="#description-tab" role="tab">Sinopse</a>
                                </div>
                            </nav>
                        </div>
                        <div class="col-12">
                            <div class="tab-content">

                                <div class="mt-2 tab-pane fade show active" id="description-tab">
                                    <p class="p-descricao" th:text="${detalheDoLivro.sinopse}">
                                        O Senhor dos Anéis (The Lord of the Rings, no original) é um livro de alta fantasia, escrito pelo escritor britânico J.
                                        R. R. Tolkien. Escrita entre 1937 e 1949, com muitas partes criadas durante a Segunda Guerra Mundial, a saga é uma
                                        continuação de O Hobbit (1937). Embora Tolkien tenha planejado realizá-la em volume único, a obra foi originalmente
                                        publicada em três volumes (The Fellowship of the Ring, The Two Towers e The Return of the King) entre 1954 e 1955, com
                                        cada volume contendo dois livros cada, e foi assim, em três volumes, que se tornou popular. Desde então, a obra foi
                                        reimpressa várias vezes e traduzida para mais de 40 línguas, vendendo mais 160 milhões de cópias, tornando-se um dos
                                        trabalhos mais populares da literatura do século XX.
                                    </p>
                                </div>

                            </div>
                            
                        </div>

                    </div>

                    <a th:href="@{/livro/finalizar-emprestimo/} + ${idLivro}" class="btn btn-primary btn-descricao-livro btn-lg">Adicionar ao Carrinho</a>
                    <br>
                    <br>

                </div>
            </main>



	</div>
</body>
</html>